In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df1 = pd.DataFrame([[1,2,3,4],[5,6,7,8],[3,6,8,2],[1,2,4,5],[3,5,4,8]],columns=['A','B','C','D'])

In [5]:
df1

   A  B  C  D
0  1  2  3  4
1  5  6  7  8
2  3  6  8  2
3  1  2  4  5
4  3  5  4  8

In [6]:
df1.head(3)

   A  B  C  D
0  1  2  3  4
1  5  6  7  8
2  3  6  8  2

In [7]:
df1.tail(4)

   A  B  C  D
1  5  6  7  8
2  3  6  8  2
3  1  2  4  5
4  3  5  4  8

## Sclising Data Frame and WOrking with It

In [8]:
df1.shape

(5, 4)

In [9]:
df1.iloc[0,1]

2

In [10]:
df1.iloc[0:3,0:1]

   A
0  1
1  5
2  3